/*primero se llama a las vaiables, mixins y todo lo que corrresponda  a utilities   */
/*ahora llamamamos todo lo que este en base*/
/* en reset se suelen poner todos los estilos generales, tipografias, y tamb el reset*/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Libre+Franklin:ital,wght@0,100;0,400;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  variables  */
ul {
  list-style: none;
}

/* ahora se llama a layout, todo lo que hay en esa carpeta*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: none;
  flex-wrap: wrap;
  width: 100%;
  height: 12.5rem;
}
header .color-header {
  background: rgb 5, 215, 5;
}
header .color-header div .titulo-fonts p {
  text-align: left;
  font-style: italic;
  color: black;
  font-size: 1.5625rem;
  font-family: "EB Garamond", serif;
  font-weight: 100;
  margin-left: 1.25rem;
}
header .color-header img {
  width: 6.25rem;
  height: 6.25rem;
  margin-top: 1.25rem;
  margin-left: 1.25rem;
}
header nav .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  gap: none;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 20px;
  flex-wrap: wrap;
}
header nav .nav-bar:hover {
  color: bisque;
  box-shadow: 3px 2px 15px;
}
header nav ul li a {
  display: flex;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.25rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

/*seccion navegacion*/
.seccion-navegacion {
  background-color: rgb(218, 156, 39);
  height: 9.375rem;
  margin: 0%;
  padding-top: 1.25rem;
}
.seccion-navegacion ul .nav-button .boton-verde {
  background-color: rgb 5, 215, 5;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  gap: none;
  padding: 0.625rem;
  border-style: double;
  border-color: rgb(52, 54, 54);
  border-radius: 0.9375rem;
  margin-top: 1.5625rem;
}

/*index*/
.index.seccion-principal div .container-index-grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: none;
  width: 100%;
  height: 100vh;
}
.index.seccion-principal div img {
  width: 37.5rem;
  height: 37.5rem;
  margin-top: 2.5rem;
  margin-left: 1.875rem;
}
.index.seccion-principal div h1 {
  padding: 2.5rem;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.5rem;
  margin: 2.5rem;
}
.index.seccion-principal div p {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.5625rem;
  word-spacing: 1.25rem;
  line-height: 3.125rem;
  justify-content: center;
  padding: 2.5rem;
  margin: 2.5rem;
}
.index.seccion-principal .container-grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "1/2 1/2" "2/3 1/2" "1/2 2/3" "2/3 2/3";
  width: 100%;
  height: 100vh;
}
.index.seccion-principal .container-grid2 img {
  width: 80%;
  object-fit: cover;
  margin-top: 1.875rem;
  margin-left: auto;
  margin-right: auto;
  margin-block-end: 10%;
}

/*seccion footer*/
.conteiner-pie-pagina {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  gap: none;
  background-color: rgb 5, 215, 5;
  position: relative;
  width: 100%;
  height: 9.375rem;
  padding-bottom: 1.25rem;
}
.conteiner-pie-pagina div .datos {
  text-align: left;
  padding: 1.25rem;
}
.conteiner-pie-pagina div .redes {
  text-align: right;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
}

/*aca van todos los componentes, de cards, botones, etc*/
/*header*/
nav div .class-buscar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  color: rgba(168, 182, 170, 0.585);
  padding: 0.3125rem;
}

nav div .class-buscar:active {
  background-color: bisque;
  border: none;
  box-shadow: 5px 3px 15 px;
}

nav div .input-buscar {
  background-color: rgba(168, 182, 170, 0.585);
  font-size: 1.25rem;
  padding: 0.3125rem;
  border-style: ridge;
  border-color: rgb(52, 54, 54);
  border-width: 0.1875rem;
}

nav div .boton-buscar img {
  background-color: rgb(218, 216, 214);
  width: 1.25rem;
  height: 1.25rem;
  padding: 1.25rem;
  border-style: ridge;
  border-color: rgb(52, 54, 54);
  border-width: 0.1875rem;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
