/*catalogo*/
body{
    overflow-x: hidden;

   .seccion-catalogo{
    @include flex(column, center, center, none);
    width: 100%;
    height: 100vh;
    
   
              h1{
                background-color: rgb(178, 237, 196);
        text-align: center;
       font-family: $font-family;
       font-size: $font-size; 
       margin: 1.25rem;
       text-transform: uppercase;
       padding: 2.5rem;
              }
        .catalogo-img{
        align-items: center;
        justify-content: center;
         width: 80%;
         height: 70%;
         text-align: center;
        }
           img{
            align-items: center;
            justify-content: center;
         width: 40%;
         height:100%;
         align-items: center;
         
         
         
                 }
    

        .catalogo-class{
            
            border-radius: .3125rem;
            border-color: black;
            background-color: orange;
            justify-content: center;
            padding: .625rem .9375rem;
            margin-top: .625rem;
                .catalogo-a{
                text-decoration: none;
                text-transform: capitalize;
                font-size: .9375rem;
                color: $font-color;
                font-family: Arial, Helvetica, sans-serif;
               
        }

         
         }
      
            
}


}
