/*contactanos. html*/
.seccion-contactos{
    width: 100%;
    height: 100vh;
padding-top: 2.5rem;

.contactanos {
         h2{
        background-color: rgb(178, 231, 178);
        text-align: center;
        font-family: 'Libre Franklin', sans-serif;
        font-size: 2.5rem;
        padding: 3.125rem;
        width: 100%;
}
                   p{
                    width: 100%;
            background-color: rgb(218, 216, 214);
            text-align: center;
            font-size: 1.875rem;
            padding: 1.875rem;
            padding-top: 2.5rem;
            margin-top: 1.25rem;
        }
 }

 .datos-contacto{
    
    background-color: white;
              p{
            font-size: 1.875rem;
            padding: 2.1875rem;
            text-align: center;
            
    
 }
}
}