/*seccion navegacion*/
.seccion-navegacion{
width: 100%;
height: 9.375rem;
margin: 0;                    
    div{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            background-color: orange;
            padding: 2rem 2rem;
            box-shadow: 5px 5px 5px rgb(125, 235, 149);
                   
                       
            .logo{
            font-weight: 700;
            font-size: 1.5625rem;
            text-decoration: none;
            color: gray;
                              } 
             #toggle, label{
               display: none;      
                       }                 
                                
                                                
            .ul-pages{
                list-style: none;
                display: flex;
                 gap: 2.1875rem;
                        
                   a{
                 text-decoration: none;
                color: black;
                font-size: 1.25rem;
                     &:hover{
                        color: bisque;
                        box-shadow: .3125rem; 
                                 }
                           }
                        }  
                      } 
                       
                            }
            
                                               
        
                        