/*seccion navegacion*/

    .seccion-navegacion{
        background-color: rgb(218, 156, 39);
        height: 9.375rem;
        margin: 0%;
        padding-top: 1.25rem;
            .nav-button{
                list-style: none;
                    text-decoration: none;
                }
                .boton-verde{
                    background-color: $background;
                  display: flex ;
                  flex-direction: row;
                    padding: .625rem;
                    border-style: double;
                    border-color: rgb(52, 54, 54);
                    border-radius: .9375rem;
                    margin-top: 1.5625rem;
                    
                }
            }

           
            
        
    
