/*seccion navegacion*/

    .seccion-navegacion{
        background-color: rgb(218, 156, 39);
        @include flex (row,space-around, center, none);
        height: 9.375rem;
        margin: 0%;
        padding-top: 1.25rem;
        flex-wrap: wrap;
            .nav-href{  
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                     margin: 20px;
                     gap: 60px;
                     flex-wrap: wrap;
                       li{
                           a{
                            background-color: rgb(5, 215, 5);
                            text-decoration: none;
                            padding: 1.25rem;
                            border: solid .0625rem;
                            border-radius: .3125rem;
                            border-color: rgb(52, 54, 54);
                            margin-top: 1.5625rem;
                           color: black;
                           font-family: Arial, Helvetica, sans-serif;
                                &:hover {
                                color: bisque;
                                box-shadow: 3px 2px 15px;
                                  }
                             }
                        }  
                     }
                }
            
    
