/*aca van todos los componentes, de cards, botones, etc*/

/*seccion ingreso- formulario de contacto*/
 

 
  /*formulario de contacto*/
.container-registro form{
  background-image: url(../assets/img/estilonatural.jpeg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 50%;
  @include flex (column, center, center, .3125rem);
  height: 100vh;
  width: 100%;
     overflow: hidden;
     align-items: center;
}
      
                   h1 {
          font-size: 1.5625rem;
          font-family: 'Libre Franklin', sans-serif;
          text-transform: uppercase;
          justify-content: center;
          text-align: center;
          padding-top: 2.5rem;
          
                   }
      
            input{
              width: 70%;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
              text-transform: capitalize;
              border-radius: .3125rem;
              font-size: 1.25rem;
              background-color: transparent;
              text-align: justify;
          }
             textarea {
            width: 70%;
            border-radius: .3125rem;
            font-size: 20px;
            background-color: transparent;

}
              #enviar {
                 background-color: rgba(0, 128, 0, 0.411);
                 height: 5%;
                 width: 20%;
                 font-size: 1.25rem;
                 border-radius: .3125rem;
                 text-align: center;
                 
              }


  
  /*seccion ingreso*/
.seccion-ingreso {
  @extend .container-registro;
  
             .ingresa-aqui {
                     h1{
                      font-size: 2.5rem;
                      font-family: Verdana, Geneva, Tahoma, sans-serif;
                      text-transform: capitalize
                       
                     }          
         }
       
              .ingresar-class {
               font-size: 1.25rem;
               border-radius: 0.3125rem;
               text-align: center;
               height: 800px;
               width: 100%;
               font-size: 1.5625rem;
               padding: 60px;
                      input::placeholder {
                       color: black;
   
                      } 
                           #enviar{
               background-color: rgba(0, 128, 0, 0.411);
               height: 2.5rem;
               width: 5rem;
               font-size: 1.25rem;
               border-radius: .3125rem;
               text-align: center;
   }          
   
}       
   
}
 