/*media 1024*/
@media(max-width: 1024px) {
color-header{
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    }

   .index-seccion-principal{
    
                img {
              width: 80%;
              height:31.25rem;
}
                h1 {
              padding: 1.25rem;
              text-align: center;
              font-size: 1.5625rem; 
}
   }


         div{
       .seccion-index {
                   p {
    
             font-size: .9375rem;
            padding: .9375rem;
    }
}  

         .boton-buscar {
           img{
       width: .625rem;
       height: .625rem;
}
}
}

}