/*media 1024*/
@media(max-width: 1024px){

   .index-seccion-principal{
    background-size: 60%;
  
    .container-index1{
      h1{
       font-size: 1.5625rem; 
       padding-top: 1.25rem;
      }
      p{
       font-size: .9375rem; 
      }
    } 
  }  
   
  .seccion-contactos{
      .contactanos{
        h1{
          font-size: 1.875rem;
        }
          p{
            font-size: 1.25rem; 
          } 
      }
     .datos-contacto{
      font-size: 1.25rem;
     }


  }

.container-fluid{
    .seccion-productos{
      h1{
        font-size: 1.25rem;
      }
    }   
     }
}



  