/*media querys 768 */
@media(max-width: 768px) {
.color-header{ 
    flex-direction: row;
   
   

          .titulo-fonts{
                p {
            color: white;
            font-size: .9375rem;
       } 
       
    }
        nav{
           .nav-bar{
      flex-direction: row;
      justify-content: space-around;
            li{
                 a{
                  color: white; 
                     }
}
}  
     }
}

  .seccion-navegacion{
background-color: rgba(128, 128, 128, 0.319);
margin: 0%;
padding-top: .625rem;
justify-content: center;

    .nav-href{
         li{
             a{
              color: white;    
              }
            }
        }
      }
    .index-seccion-principal{
         .container-index-grid1{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
             
            height: auto;
            justify-items: center;
            margin-top: 10px;
           
   
                img {
                width: 18.75rem;
                height: 18.75rem; 
                gap: none;
                margin-top: none;            
                   }
       .div-seccion-index{
             h1 {
             font-size: 1.25rem;
             padding: .3125rem;
               }

               p {
               font-size: .9375rem;
               word-spacing: .625rem;
               line-height: 1.25rem;
               padding: .0313rem;
               margin: .9375rem;
                  }
               }
       }
   .container-index-grid2{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: .625rem;
    grid-template-areas: 
  "img1"
  "img2"
  "img3"
  "img4";
           .img1{
width: 18.75rem;
height:18.75rem;
             }
}
}
}

/*catalogo*/
.seccion-catalogo{
  flex-direction: column;
  
        h2{
    font-size: 1.25rem;
  }
    .catalogo-img{
padding-left: 6.25rem;
}
}