/*media querys 768 */
@media(max-width: 768px){

    .index-seccion-principal{
      background-size: 70%;
         .container-index1{
            h1{
             font: size 15px; ; 
             margin: 1.875rem;
             padding-top: none;
            }
            p{
             font-size: .625rem;
             margin: .625rem;
             padding-top: .9375rem;
            }
               }
       }

   .container-index-grid2{
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: .3125rem;
    grid-template-areas: 
  "img1"
  "img2"
  "img3"
  "img4";
           
  .img1 {
    width: 70%;
         }
     }




/*catalogo*/
body{
  .seccion-catalogo{
  
           h1{
    font-size: .9375rem;
          }
    .catalogo-img{
      width: 90%;
      height: auto;
      img{
        width: 45%;
      height: auto;
          }
         }
         .catalogo-class{
          background-color: $background;
          padding: .3125rem .1875rem;
         }
        }
      }
/*contactanos*/
.seccion-contactos{
       padding-top: 1.25rem;
      .contactanos{
            h2{
        font-size: 1.25rem;
        padding: 3.125rem;
        padding-top: 50px;
        margin-top: .625rem;
              }
             p{
         font-size: 1.25rem;
         padding: 1.875rem; 
               }
              }
      .datos-contactos{
             p{
         font-size: .9375rem;
         padding: .625rem;
         padding-bottom: 1.25rem;
            
         }
        }
}

/*seccion-negocio*/
.seccion-negocio{
  flex-direction: column;
  height: auto;

        div{
             h1{
          font-size: 1.25rem;  
              }
            p{
          font-size: .9375rem;  
             }
      
     .boton-negocio{
         .contactar-naranja{
          margin-bottom: 1.875rem;
             .class-contactanos{
              font-size: .9375rem 
             }
         } 
     } 
}
}

/*productos - destacados*/
.container-fluid{
  .seccion-productos{
 
        h1{
          padding: 2.5rem;
          margin-top: none;
         }
       }
       .row{
          .col{
            .card{
               .card-body{
          
                p{
          font-size: .9375rem;
               }
      }
    }
     }
}
}
/*ingreso*/
.seccion-ingreso{
     .ingresa-aqui{
      padding: 2.5rem;
    font-size: .9375rem;
           }
  .ingresar-class{      
    font-size: .9375rem;
    padding: 1.875rem;
  }
}
}