/*media 425*/

@media(max-width: 425px){
.color-header{
        justify-content: center;
        height: 9.375rem;

    
       .titulo-fonts{
             .img{
        width: 1.25rem;
         height: 1.25rem; 
         margin-top: .625rem;
        margin-left: .3125rem; 
               }
             p {
    color: white;
    font-size: .625rem; 
    font-weight: 80;
    padding-bottom: .3125rem;
             }
            }

          nav{  
            .nav-bar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: .5rem;
        gap: 1.25rem;
            li{
              a{
                font-size: .625rem;
                  }
               }
             }
            }
        
    
          }
        
    .seccion-navegacion{
      div{
      background-color: rgb(192, 188, 188);
    }
  }
   
            
   .index-seccion-principal {
    background-size: 70%;
  
  height: auto;
        
        .container-index1{
              h1 {
            text-align: center;
            justify-content: center;
            font-size: .625rem;
            margin: 1.25rem;
            padding-top: 30px;
          }
             p {
    text-align: center;
    justify-content: center;
    font-size: .375rem;
    word-spacing: .625rem;
        line-height: 1.875rem;
    margin: .625rem;
    padding-top: .1875rem;
                  } 
              }
            }
   

    
     /*catalogo*/
     .seccion-catalogo{
      height: 37.5rem;
      h2{
        margin: .625rem;
      }
        .catalogo-img{
           width: 100px;
         height: 7.5rem;
         padding: none;
         padding-left: none;
         margin: 0%;

        }
     }
           
        
    /*contactanos*/
    .contactanos{
      
            h2{
            font-size: 1.25rem;
            padding: 1.25rem;
              }
             p{
            font-size: .625rem;
            padding: .625rem;
            }
      .datos-contacto{
    background-color: rgb(248, 220, 169);
    font-size: .625rem;
    padding: .3125rem;

   }
    }

    /*productos - destacados*/
.container-fluid{
    .seccion-productos{
             h2{
          font-size: 1.25rem;
  }
}
    .carousel-item{
         img{
      width: 31.25rem;
      height: 18.75rem;
         
         }
        }
      }
    }
  