/*media 1024*/
@media(max-width: 1024px){
.color-header{
    justify-content: space-around;  
    }

   .index-seccion-principal{
    background-size: 60%;
  
    .container-index1{
      h1{
       font-size: 1.5625rem; 
       padding-top: 1.25rem;
      }
      p{
       font-size: .9375rem; 
      }
    }   
             

/*catalogo media*/
.seccion-catalogo{
  .catalogo-img{
    padding-left: 15.625rem; 
  }
}



   }
}